:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background-color: black;
	border-bottom: 2px solid #ffffff;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-top: 2px solid #ffffff;
	font-size: 20px;
}

.container {
	max-width: 900px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

main {
	min-height: calc(100vh - 85px - 22px);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.link {
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 24px;
}

.link:hover {
	text-decoration: underline;
}

.active {
	color: cyan;
	cursor: default;
}
