:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
	text-align: center;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: black;
	border-bottom: 2px solid #ffffff;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-top: 2px solid #ffffff;
	font-size: 20px;
}

.container {
	max-width: 900px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: 0 auto;
}

main {
	min-height: calc(100vh - 85px - 22px);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.link {
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 24px;
}

.link:hover {
	text-decoration: underline;
}

.active {
	color: cyan;
	cursor: default;
}

.search__form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.search__input {
	width: 400px;
	padding: 8px;
	border: 1px solid #000000;
	border-radius: 4px;
	margin-right: 10px;
}

.search__button {
	padding: 8px 16px;
	background-color: #000000;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.search__button:hover {
	background-color: #ffffff;
	color: #000000;
	border: #000000 1px solid;
}

.post {
	display: flex;
	margin-bottom: 5px;
	padding: 20px;
	border-radius: 4px;
	background-color: #000000;
	color: #ffffff;

	.link {
		text-decoration: none;
		color: #ffffff;
		font-size: 20px;
	}

	&:hover {
		background-color: #ffffff;
		color: #000000;
		border: #000000 1px solid;

		.link {
			color: #000000;
		}
	}
}
